* {box-sizing:border-box}
body{
    background-image: url(../bild/background.jpg);
}
main{
    width: 66%; 
    margin-left:47%;
    border-left: 8px double green;
}
h2{
    font-size: 38px;
}
aside{
    margin-left: 236px;
    float: left;
    border: 4px dotted green;
    display: block;
    border-radius: 6px;
    width: 34%;
    text-align: center;
}
img{
    border-radius: 22px;
    margin-top: 10px;
}
strong{
 font-family: 'Roboto Slab', serif;
}
u{
    font-size: 60px;
    font-family: 'Playfair', serif;
}
p{
    font-family: 'Slabo 27px', serif;
    margin: 0px;
}
.namn{
    font-size: 40px;
    margin-right:7.6px;
    font-family: 'Inconsolata', monospace;
}
.infoText{
    margin-left: 12px;
}
.nameSubtext{
    font-size: 25px;
}
.infoBox{
    border: 2px dotted green;
    font-size: 26px;
    width: 770px;
}
.container{
    width: 40%;
    border-radius: 4px;
    display: inline-block;
    background-color: white;
}
.skills {
    text-align: center;
    padding: 10px;
    color: white;
}
.j {
    width: 100%; background-color: darkgreen; border-radius: 4px;
}
.cs{
    width: 100%; background-color: darkorange; border-radius: 4px;
}
.html{
    width: 90%; background-color: blue; border-radius: 4px;
}
.english{
    width: 100%; background-color: mediumpurple; border-radius: 4px;
}
.swedish{
    width: 100%; background-color: pink; border-radius: 4px;
}